<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AGORA_APP_ID</key>
	<string>$(AGORA_APP_ID)</string>
	<key>AGORA_BASE_URL</key>
	<string>$(AGORA_BASE_URL)</string>
	<key>AGORA_KEY</key>
	<string>ef6b7fdba1224c539ef9a3d2de3d0389</string>
	<key>AGORA_SECRET</key>
	<string>9754ac4f14ea44d88c69ca796da61a7e</string>
	<key>AGORA_TEMP_TOKEN</key>
	<string>007eJxTYFjDpWd3OspBYoLodIuCE1vuZMxhvbnk7Q/X3vvrD9qqv5mgwJBknGhmkGxgYJxkbGCSaJpoaZyYmJKWYmCYZJpsapJkfsDQKrMhkJGBY+YnFkYGCATxWRgMTc0tGBgAYBIfLw==</string>
	<key>AGORA_TOKEN</key>
	<string>$(AGORA_TOKEN)</string>
	<key>LLM_API_KEY</key>
	<string>$(LLM_API_KEY)</string>
	<key>LLM_BASE_URL</key>
	<string>$(LLM_BASE_URL)</string>
	<key>LLM_MODEL_ID</key>
	<string>$(LLM_MODEL_ID)</string>
	<key>TTS_API_KEY</key>
	<string>$(TTS_API_KEY)</string>
	<key>TTS_MODEL_ID</key>
	<string>$(TTS_MODEL_ID)</string>
	<key>TTS_VENDOR</key>
	<string>$(TTS_VENDOR)</string>
	<key>TTS_VOICE_ID</key>
	<string>$(TTS_VOICE_ID)</string>
</dict>
</plist>
